@model IEnumerable<PersonalExpense.Models.Income>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Added)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Added)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IncomeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IncomeID }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.IncomeID })*@
        </td>
    </tr>
}

</table>
